
<div class="formularioCab">

  <%= form_tag '' , class:'cont', name:'calculator' do%>


    <p class="toCab">Toner Deport</p>
    <p class="toCab1">Ingresar su código de empleado </p>
    <div class="inputCont">
      <%= text_field_tag :CodigoEmpleado, nil,placeholder: '12345678',:class=>'form-control inputcab',name: "ans", value:"" %>

      <div class="row">
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="1" onclick="document.calculator.ans.value+='1'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="2" onclick="document.calculator.ans.value+='2'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="3" onclick="document.calculator.ans.value+='3'">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="4" onclick="document.calculator.ans.value+='4'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="5" onclick="document.calculator.ans.value+='5'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="6" onclick="document.calculator.ans.value+='6'">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="7" onclick="document.calculator.ans.value+='7'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="8" onclick="document.calculator.ans.value+='8'">
        </div>
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="9" onclick="document.calculator.ans.value+='9'">
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 numeros">
          <input type="button"  class="btn btnCab" value="0" onclick="document.calculator.ans.value+='0'">
        </div>
        <div class="col-md-4 numeros">
          <input type="reset"  class="btn btnCab" value="C" >
        </div>
        <div class="col-md-4 inputWithIcon">
          <input type="button"  class="btn btnCab" value="" onclick="document.calculator.ans.value= document.calculator.ans.value.substring(0,document.calculator.ans.value.length - 1)">
          <i class="fa fa-long-arrow-left fa-5x " aria-hidden="true"></i>

        </div>

      </div>
      <%= submit_tag 'Buscar' ,class: 'btn-cab'%>
  <%end%>
     </div>


  <%if flash[:alert]%>
    <div class="alerta2 alert alert-danger" style="margin-left: 10px;margin-right: 10px;font-weight: bold">

      <p><%=flash[:alert]%></p>
  <%end%>
  </div>

</div>



