/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "semantic-ui";
@import "bootstrap";

@import "font-awesome";
//Basics
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Lato', sans-serif;
  /*line-height: 1;*/
}
body {
  background-color: #F5F6F8;
  overflow: hidden;
}


//Color Variables
$sidebar-background-color: #313443;
$active-sidebar-link-color: #22252E;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #98D7EC;
$tooltip-background-color: $sidebar-background-color;

.sidebar-navigation {
  display: inline-block;
  min-height: 100vh;
  width: 80px;
  background-color: $sidebar-background-color;
  float: left;

  ul {
    text-align: center;
    color: white;

    li {
      padding: 28px 0;
      cursor: pointer;
      transition: all ease-out 120ms;

      i {
        display: block;
        font-size: 24px;

        transition: all ease 450ms;
      }

      .tooltip {
        display: inline-block;
        position: absolute;
        background-color: $tooltip-background-color;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: -26px;
        left: 90px;
        opacity: 0;
        visibility: hidden;
        font-size: 13px;
        letter-spacing: .5px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -4px;
          top: 10px;
          transform: rotate(45deg);
          width: 10px;
          height: 10px;
          background-color: inherit;
        }
      }

      &:hover {
        background-color: $hover-sidebar-link-color;

        .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }

      &:active {
        background-color: $active-sidebar-link-color;

        i {
          color: $active-link-color;
        }
      }
    }
  }
}

a, a:hover{
 color:#ffffff;
  text-decoration: none;
}

.title-h1{
  font-size: 1.8rem;
}

//fin del menu
.header-nav{
  padding: 12px 10px;
  background:$tooltip-background-color;
}

.perfil{
  display: flex;
  align-items: center;
  color: #ffffff;
}
.perfil--close {
  margin-left: 15px;
  .link {
    display: block;
    padding: 5px;
    background: #9E9E9E;
    border: 2px solid #BDBDBD ;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
    &:hover {
      background: transparent;
    }
  }
 }

.parrafo{
  margin: 0;
}

//header
.header-title{
  background: #78909C;
  padding: 13px;
  margin: 30px 0px;
  width: auto;
  color:#ffffff;
  text-align: center;
  h1{
    font-size: 1.8rem;
  }
}


//fin header

.container--box{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 60px;
}



.cursiva{
  font-style: italic;
  color: #730E15;
}

header .perfil{
margin-left: 75%;
}

//style para el login

.contenedorLogin{
  background-color: rgb(229,229,229);
  height: 520px;


}

.formularioLogin{


  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  margin: auto;
  position: absolute;
  width: 400px;
  height: 400px;

  border-collapse: collapse;
  margin-top:170px;
}

.to{
  font-family: 'Bahnschrift SemiBold';
  color: #707070;
  font-size: 20px;
  height: 60px;
  padding-top: 20px;
  font-weight: 600;


}

.to1{
  font-family: 'Bahnschrift Regular' ;
  color: #707070;
  font-size: 14px;
  margin-top: -20px;
}

input{


  width: 300px;
  height:45px;
  padding: 10px 0;
  margin:20px 0;
  appearance: none;
  box-shadow: none;


}

.inputLogin{
  margin-top: 5px;
  width: 80%;
  height: 40px;
  margin-left: 35px;

}
.inputCont{
  margin-top: 30px;
}




.btn-login{

  width: 150px;
  height:40px;
  border-radius: 10px;
  background-color:#707070 ;
  color: #fff;

  border-style:none;

}


::-webkit-input-placeholder{

  padding-left:10px;

}

.label1{
color:#707070 ;
margin-right: 270px;
}
.label2{
  color:#707070 ;
  margin-right: 250px;
}

//style para transferencia cabecera
.inputcab{
  /*margin-top: 5px;
  width: 85%;
  height: 50px;
  margin-left: 35px;
  font-size: 24px;*/

}



.contenedorCab{
  background-color: rgb(229,229,229);
  height: 520px;
}

.formularioCab{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  /*top: -20%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  margin: auto;
  position: absolute;
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  margin-top:170px;*/

}

.toCab{
  font-family: 'Bahnschrift SemiBold';
  color: #707070;
  font-size: 24px;
  //background-color: #707070;
  height: 60px;
  padding-top: 20px;
  font-weight: 600;


}

.toCab1{
  font-family: 'Bahnschrift Regular' ;
  color: #707070;
  font-size: 16px;
  margin-top: -20px;
}

input{
  width: 300px;
  height:65px;
  padding: 10px 0;
  margin:20px 0;
  appearance: none;
  box-shadow: none;
}

.form--containerCode{
  width: 400px;

}
.form--containerCode-input{
  text-align: center;
  input{
    height: 50px;
    width: 400px;
    margin: 0 auto;
    &::placeholder, &::-webkit-input-placeholder, &:-moz-placeholder {
      text-align: center;
      opacity: 0.5;
    }
  }
}

::-webkit-input-placeholder, :-moz-placeholder {
  opacity: 2;
}

.form--containerCode--text
{
  text-align: center;
  p:last-child{
    margin-top: 3px;
  }
}
.btnCab{

  width: 50px;
  height: 60px;
  border-radius: 8px;
  background-color:white ;
  color: #707070;
 padding: 16px 32px;
  margin: 6px 4px;
 font-size: 22px;
  border-style: groove;
  border-color: #707070 ;
  cursor: pointer;
 text-align: center;
}

.btnCal {
  background: #fff;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
}

::-webkit-input-placeholder{

  padding-left:10px;

}

.btn-cab{

  width: 150px;
  height:40px;
  border-radius: 8px;
  background-color:white ;
  color: #707070;
  font-size: 20px;
  border-style: inset;
  border-color: #707070 ;
  padding: 10px 10px 10px 10px;



}

.inputWithIcon input{
  position: relative;
}

.inputWithIcon i{
  position: absolute;
  left: 60PX;
  top: 10px;
  padding: 9px 8px;
  color: #707070;
  font-size: 14px;
  width: 10px;
  height: 5px;
}

/*style empleados */
.container--tableEmpl{
div{
  text-align: right ;
}
  table.ui.very.basic.collapsing.celled.table.table--empl{
    width: 100%;
    font-size: 1.1rem;
  }

}
/*fin empleados*/

/*style new emple*/

.container--newEmpl{
  display: flex;
  justify-content: center;
}
.registro{
  width: 70%;
  margin: 0 auto;
  h1{
    text-align: center;
  }
}

.formNewEmpl{
  div:nth-child(1){
    display: flex;
    justify-content: space-between;
    .inputt{
      width: 48%;
      margin: 0px;
    }
  }
  div:last-child{
    text-align: center;
  }
}
/*fin new  emple*/
